// color
$main-green: rgb(97, 141, 47);
$text-color-pos: #3a434d;
$navbar: rgba(97, 141, 47, 0.7);
$navbar-transparent: rgba(97, 141, 47, 0);

// fonts
$bodoni: "/fonts/bodoni/bodoni-mt.ttf";
$Rubik-Medium: "/fonts/bodoni/Rubik-Medium.ttf";