@import '../assets/scss/variables.scss';
@import '../assets/scss/fonts.scss';

.navbar {
    position: fixed;
    background-color: $navbar-transparent;
    width: 100%;
    height: 92px;
    z-index: 9999;
}

.navbar-inverse {
    top: -92px;
    background-color: $navbar;
    animation-name: fadein;
    animation-duration: 800ms;
}

@keyframes fadein {
    from {
        top: 0;
    }

    to {
        top: -92px;
    }
}

.navbar-outverse {
    top: 0px;
    background-color: $navbar;
    animation-name: fadeout;
    animation-duration: 800ms;
}

@keyframes fadeout {
    from {
        top: -92px;
    }

    to {
        top: 0px;
    }
}

.navbar-transparent {
    background-color: $navbar-transparent;
    animation-name: transparent;
    animation-duration: 800ms;
}

@keyframes transparent {
    from {
        background-color: $navbar;
    }

    to {
        background-color: $navbar-transparent;
    }
}