@import '../assets/scss/variables.scss';
@import '../assets/scss/fonts.scss';

.navbar {
    position: fixed;
    background-color: forestgreen;
    width: 100%;
}

.navbar-inverse {
    opacity: 0%;
    animation-name: fadein;
    animation-duration: 350ms;
}

@keyframes fadein {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}