@import '../assets/scss/variables.scss';
@import '../assets/scss/fonts.scss';

::ng-deep .swiper-pagination-bullet-active {
    opacity: 1;
    background: $main-green!important;
    transform: scale(2);
    margin-left: 15px!important;
    margin-right: 15px!important;
}

::ng-deep.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {  
    margin: 10px;  
} 

::ng-deep.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: rgba(165, 165, 165, 0.7);
    //background: rgba(97, 141, 47, 0.7);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navbar {
    position: fixed;
    background-color: $navbar-transparent;
    width: 100%;
    height: 92px;
    z-index: 9999;
    transition: all 0.3s ease-in-out;

    i {
        color: #ffffff;
        font-size: 50px;
        margin-left: 10%;
    }

    ul {
        display: flex;
        width: 350px;
        margin-left: auto;
        margin-right: auto;

        li {
            padding: 34px 0 19px;
            margin: 0 15px;
            color: #ffffff;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            hr {
                opacity: 0;
                width: 0%;
                margin-block-start: 0!important;
                margin-block-end: 0!important;
                transition: all 0.3s ease-in-out;
            }
        }

        li:hover {
            color: $main-green;

            hr {
                opacity: .7;
                width: 100%;
            }
        }
    }
}

.navbar-inverse {
    top: -92px;
    background-color: $navbar;
    animation-name: fadein;
    animation-duration: 800ms;
}

@keyframes fadein {
    from {
        top: 0;
    }

    to {
        top: -92px;
    }
}

.navbar-outverse {
    top: 0px;
    background-color: $navbar;
    animation-name: fadeout;
    animation-duration: 800ms;
}

@keyframes fadeout {
    from {
        top: -92px;
    }

    to {
        top: 0px;
    }
}

.navbar-transparent {
    background-color: $navbar-transparent;
    animation-name: transparent;
    animation-duration: 800ms;
}

@keyframes transparent {
    from {
        background-color: $navbar;
    }

    to {
        background-color: $navbar-transparent;
    }
}