<nav class="navbar"
     (scroll)="onWindowScroll($event);">
    <ul *ngIf="!hidden">
        <li>
            <p >Home</p>
            <hr>
        </li>
        <li>
            <p >Contact</p>
            <hr>
        </li>
        <li>
            <p >Team</p>
            <hr>
        </li>
        <li>
            <p >Info</p>
            <hr>
        </li>
    </ul>

    <i class="fa fa-home"
       *ngIf="hidden"
       (click)="navToHome()"></i>
       <i class="fa fa-facebook"
       *ngIf="hidden"
       (click)="navToFacebook()"></i>
       <i class="fa fa-instagram"
       *ngIf="hidden"
       (click)="navToInstagram()"></i>
</nav>


<router-outlet></router-outlet>

<div class="footer">
    <div class="bottom-container">
        <div class="center-flex">
        <h3>© 2020 Partout Bio</h3>
        <h3 class="left-marg"
            (click)="navToImpressum()">Impressum</h3>
    </div>
    </div>
</div>