<nav class="navbar"
     (scroll)="onWindowScroll($event);">
    <ul *ngIf="!hidden">
        <li>
            <p (click)="toggle()">Home</p>
            <hr>
        </li>
        <li>
            <p (click)="toggle()">Contact</p>
            <hr>
        </li>
        <li>
            <p (click)="toggle()">Team</p>
            <hr>
        </li>
        <li>
            <p (click)="toggle()">Info</p>
            <hr>
        </li>
    </ul>

    <i class="fa fa-bars"
       (click)="toggle()"
       *ngIf="hidden"></i>
</nav>


<router-outlet></router-outlet>

<div class="footer">
    <div class="bottom-container center">
        <h3>© 2020 Partout Bio - Designed by Hendrik Do.</h3>
    </div>
</div>