@import '../app.component.scss';
@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';

.parallax-header {
    background-image: url("../../assets/img/bilder/1.jpeg");
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}