<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide first-img">
            <div class="center">
                <h2>Willkommen bei</h2>
                <h1>Partout Bio</h1>
                <p></p>
            </div>
        </div>
        <div class="swiper-slide second-img">

        </div>
        <div class="swiper-slide theerd-img">

        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows 
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <lottie-animation-view [options]="lottieConfig"
                                       [width]="100"
                                       [height]="100"
                                       (animCreated)="handleAnimation($event)">
                </lottie-animation-view>
    -->
</swiper>