<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide first-img">
            <div class="black-overlay">
                <div class="center">
                    <svg>
                        <rect x="0"
                              y="0"
                              fill="none"
                              width="100%"
                              height="100%" />
                    </svg>
                    <div class="absolute">
                        <h3>Lebensmittel</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide second-img">
            <div class="black-overlay">
                <div class="center">
                    <svg>
                        <rect x="0"
                              y="0"
                              fill="none"
                              width="100%"
                              height="100%" />
                    </svg>
                    <div class="absolute">
                        <h3>Café / Bistro</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide forth-img">
            <div class="black-overlay">
                <div class="center">
                    <svg>
                        <rect x="0"
                              y="0"
                              fill="none"
                              width="100%"
                              height="100%" />
                    </svg>
                    <div class="absolute">
                        <h3>Kosmetik</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide theerd-img">
            <div class="black-overlay">
                <div class="center">
                    <svg>
                        <rect x="0"
                              y="0"
                              fill="none"
                              width="100%"
                              height="100%" />
                    </svg>
                    <div class="absolute">
                        <h3>Geschenke</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows 
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <lottie-animation-view [options]="lottieConfig"
                                       [width]="100"
                                       [height]="100"
                                       (animCreated)="handleAnimation($event)">
                </lottie-animation-view>
    -->
</swiper>