<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide first-img">
            <div class="black-overlay">
                <div class="center">
                    <h3>Lebensmittel</h3>
                </div>
            </div>
        </div>
        <div class="swiper-slide second-img">
            <div class="black-overlay">
                <div class="center">
                    <h3>Caffee</h3>
                </div>
            </div>
        </div>
        <div class="swiper-slide theerd-img">
            <div class="black-overlay">
                <div class="center">
                    <h3>Dekoratio</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows 
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <lottie-animation-view [options]="lottieConfig"
                                       [width]="100"
                                       [height]="100"
                                       (animCreated)="handleAnimation($event)">
                </lottie-animation-view>
    -->
</swiper>