/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variables.scss';
@import './assets/scss/fonts.scss';

body {
    margin: 0;
    font-family: 'Rubik regular';
    font-size: 16px;
    line-height: 1.8;
    color: $text-color-pos;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */

    * {
        box-sizing: border-box;
        line-height: 160%;
    }

    ul,
    li,
    p,
    dl,
    dt,
    dd,
    figure,
    blockquote {
        margin: 0;
        padding: 0;
    }

    ul li,
    .long-txt,
    dt,
    dd {
        text-align: left;
    }

    ul {
        list-style: none;
    }
}

.flex {
    display: flex;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.box {
    padding: 0 15px;
    max-width: 50%;
}

.padding-big {
    padding-top: 213px;
    padding-bottom: 130px;
}

.padding-smal {
    padding-top: 114px;
    padding-bottom: 117px;
}