<swiper [config]="configMain">
    <div class="swiper-wrapper">
        <div class="swiper-slide first-img">
            <div class="center">
                <h2>Willkommen bei</h2>
                <h1>Partout Bio</h1>
                <p></p>
            </div>
        </div>
        <div class="swiper-slide second-img">

        </div>
        <div class="swiper-slide theerd-img">

        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows 
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <lottie-animation-view [options]="lottieConfig"
                                       [width]="100"
                                       [height]="100"
                                       (animCreated)="handleAnimation($event)">
                </lottie-animation-view>
    -->
</swiper>

<div class="container padding-big">
    <div class="flex">
        <div class="box">
            <h2>About Restaurant</h2>
            <h1>Only The Freshest
                Ingredients</h1>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
</div>

<div class="container padding-smal">
    <div class="">
        <swiper [config]="configSelect">
            <div class="swiper-wrapper">
                <div class="swiper-slide-2 first-img">
                    <div class="center">
                        <h2>Willkommen bei</h2>
                        <h1>Partout Bio</h1>
                        <p></p>
                    </div>
                </div>
                <div class="swiper-slide-2 second-img">
        
                </div>
                <div class="swiper-slide-2 theerd-img">
        
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows 
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        
            <lottie-animation-view [options]="lottieConfig"
                                               [width]="100"
                                               [height]="100"
                                               (animCreated)="handleAnimation($event)">
                        </lottie-animation-view>
            -->
        </swiper>
    </div>
</div>