<app-main-gallery></app-main-gallery>

<div class="container padding-big">
    <div class="flex">
        <div class="box">
            <h2>Über uns</h2>
            <h1>Partout Bio</h1>
            <p>
                Bei PARTOUT BIO - Concept Store findest Du eine große Auswahl an unverpackten Lebensmitteln in Bio - Qualität und wenn
                möglich, aus regionalem Anbau. Dabei stehen der Verzicht auf Einwegverpackungen (hauptsächlich aus Plastik) und die
                Nachhaltigkeit der Produkte im Mittelpunkt.
                Zusätzlich gibt es Bio - Feinkost, Bio - Kosmetik und - Drogerieartikel, Fairtrade - Geschenke und Taschen u.v.m. Lasst Euch
                überraschen!
                Im Café / Bistro von PARTOUT BIO könnt Ihr mit einem leckeren Frühstück in den Tag starten. Zur Mittagszeit wird es eine
                wechselnde Auswahl an Suppen und Salaten geben, dazu gibt es Kuchen / Gebäck etc. Auch hier liegt der Fokus darauf, dass
                sämtliche Produkte Bio - Qualität besitzen.
                PARTOUT BIO, nachhaltig, fair und regional ist das Ladenkonzept, das demnächst am Kirchweg 50 in Kassels
                Vorderem Westen eröffnet wird. Wir freuen uns auf Dich!
            </p>
        </div>
        <div data-relative-input="true"
             id="scene">
            <div data-depth="0.2"
                 class="right-img">
                <img src="assets/img/partoutbio-logo-img.svg">
            </div>
            <div data-depth="0.5"
                 class="right-img">
                <img src="assets/img/partoutbio-logo-letter-top.svg">
            </div>
            <div data-depth="0.4"
                 class="right-img">
                <img src="assets/img/partoutbio-logo-letter-bottom.svg">
            </div>
        </div>
    </div>
</div>

<div class="white light-gray">
    <div class="container padding-smal">
        <div class="">
            <div class="center">
                <h2 class="text-center">Unser Sortiment</h2>
                <h1 class="text-center">In Bio-Qualität & Nachhaltig</h1>
            </div>
            <app-show-case-gallery></app-show-case-gallery>
            <h3 class="center margin-top">Hier findet ihr bald unsere aktuelle Produktliste!</h3>
        </div>
    </div>
</div>

<div class="white"
     *ngIf="false">
    <div class="container-white  padding-smal">
        <div class="flex kachel-container">
            <div class="kachel-first"></div>
            <div class="kachel"></div>
            <div class="kachel"></div>
            <div class="kachel"></div>
            <div class="kachel"></div>
        </div>
        <div class="header-container">
            <ul class="flex">
                <li>
                    <h3>Home</h3>
                    <hr>
                </li>
                <li>
                    <h3>Contact</h3>
                    <hr>
                </li>
                <li>
                    <h3>Team</h3>
                    <hr>
                </li>
                <li>
                    <h3>Info</h3>
                    <hr>
                </li>
            </ul>
        </div>
        <div class="prudukt-container">
            <div class="flex-container">
                <div class="produkte">
                    <div class="flex">
                        <div class="bild"></div>
                        <div class="text">
                            <h3>Test</h3>
                            <hr>
                            <p>Test werewrew wer werwe r erw r we r ewrrwerwer we rwe rw er</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax parallax-img">
    <div class="black-overlay">
        <div class="wrapp">
            <div class="margin-left">
                <h1>Partout Bio</h1>
                <h2>Nachhaltig, Bio, Unverpackt</h2>
            </div>
        </div>
    </div>
</div>
<!--
    <div data-relative-input="true" id="scene">
    <div data-depth="0.2">My first Layer!</div>
    <div data-depth="0.6">My second Layer!</div>
  </div>
-->

<div class="light-gray">
    <div class="container-center white-shadow"
         *ngIf="false">
        <div class="container-center padding-smal">
            <div class="center">
                <h2 class="text-center">About Restaurant</h2>
                <h1 class="text-center">Only The Freshest
                    Ingredients</h1>
            </div>
            <agm-map [latitude]="lat"
                     [zoom]="zoom"
                     [longitude]="lng">
                <agm-marker [latitude]="lat"
                            [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>

    <div class="container padding-smal">
        <div class="contact-container center">
            <div class="flex">
                <div class="flex-box">
                    <div class="contact-element">
                        <div class="icon-container center">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h3 class="center">Telefon</h3>
                        <p class="center">0561-317 487 21</p>
                    </div>
                    <div class="contact-element">
                        <div class="icon-container center">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 class="center">Adresse</h3>
                        <p class="center">Kirchweg 50, Kassel</p>
                    </div>
                </div>
                <div class="flex-box">
                    <div class="contact-element">
                        <div class="icon-container center">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <h3 class="center">Öffnungszeiten</h3>
                        <p class="center">Mai 2020</p>
                    </div>
                    <div class="contact-element">
                        <div class="icon-container center">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <h3 class="center">E-Mail</h3>
                        <p class="center">info@partoutbio.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>