<app-main-gallery></app-main-gallery>

<div class="container padding-big">
    <div class="flex">
        <div class="box">
            <h2>About Restaurant</h2>
            <h1>Only The Freshest
                Ingredients</h1>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
</div>

<div class="light-gray">
    <div class="container padding-smal">
        <div class="">
            <div class="center">
                <h2 class="text-center">About Restaurant</h2>
                <h1 class="text-center">Only The Freshest
                    Ingredients</h1>
            </div>
            <app-show-case-gallery></app-show-case-gallery>
        </div>
    </div>
</div>